@media (max-width: 951px) {
  .isvisibleNav {
    display: none;
  }
}
@media (min-width: 950px) {
  .isvisibleMob {
    display: none;
  }
}
.custom-padding {
  padding-left: 8%;
  padding-right: 8%;
}